<header>
  <div class="home-items">
    <a href="#" class="issues">ARCHIVES</a><span class="divider">|</span>
    <a href="#" class="search">SEARCH</a><span class="divider">|</span>
    <a href="/issues/<%= @issues.last.id %>" class="latest">LATEST ISSUE</a><span class="divider">|</span>
    <a href="#">RSS</a>
  </div>
</header>
<main>
  <h1 class="main-title">Disruptive Newsletter</h1>
</main>
<div class="container">
  <div class="issues-page">
    <h1>Archives</h1>
    <div class="columns">
      <ul class="issues">
        <% @issues.each do |issue| %>
        <li>
          <a href="/issues/<%= issue.id %>">Issue #<%= issue.id %></a> — <%= issue.issued_at.strftime("%d de %b del %Y") %>
          <div class="description">
            <ul>
              <% issue.articles.last(3).each do |i| %>
              <li>
                <%= i.title %>
              </li>
              <% end %>
            </ul>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
