<table class="main">
  <tbody>
    <tr>
      <td>

        <table class="issue-container">
          <tbody>
            <!-- Preheader -->
            <tr>
              <td>
                <p class="preheader">
                  Email not displaying correctly?
                  <a href="#">View in browser</a>
                </p>
              </td>
            </tr>

            <!-- Header -->
            <tr>
              <td class="header">
                <h1 class="header-title">Disruptive Newsletter</h1>
                <p class="header-issue">ISSUE:<%= @issue.id %></p>
              </td>
            </tr>

            <!-- Main Article -->
            <tr>
              <td>
                <table class="mainArticle">
                  <tbody>

                    <!-- Imagen post principal -->
                    <tr>
                      <td>
                        <img class="mainArticle-image" src="<%= @issue.articles.first.image %>" alt="Post Principal" />
                      </td>
                    </tr>

                    <!-- Contenido post principal -->
                    <tr>
                      <td>
                        <h2 class="mainArticle-title">
                          <%= @issue.articles.first.title %>
                        </h2>
                        <p class="mainArticle-content">
                          <%= @issue.articles.first.description[0...200] %>
                        </p>
                        <a href="<%= @issue.articles.first.link %>" class="mainArticle-btn">READ MORE</a>
                      </td>
                    </tr>

                    <!-- Share Icons -->
                    <tr>
                      <td>
                        <p class="share-title">SHARE:</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="share-icons">
                        <a href="https://twitter.com/share" class="shareIcon shareIcon--tw">
                          <%= image_tag 'twitter-icon.png'%>
                        </a>
                        <a href="https://www.facebook.com/sharer.php?u=<%= @issue.articles.first.link %>" class="shareIcon shareIcon--fb">
                          <%= image_tag 'facebook-icon.png'%>
                        </a>
                        <a href="https://www.linkedin.com/shareArticle" class="shareIcon shareIcon--in">
                          <%= image_tag 'linkedin-icon.png'%>
                        </a>
                      </td>
                    </tr>

                    <!-- Save Links -->
                    <tr>
                      <td>
                        <p class="saveLinks">
                          Save for later:
                          <a href="#" id="thisweeksfavorite_img1_p" class="saveToImg link-pocket">Pocket</a> |
                          <a href="#" id="thisweeksfavorite_img1_i" class="saveToImg link-instapaper">Instapaper</a> |
                          <a href="#" id="thisweeksfavorite_img1_r" class="saveToImg link-readability">Readability</a>
                        </p>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </td>
            </tr>

            <!-- Curated Links Title -->
            <tr>
              <td>
                <h4 class="contentTitle">Curated News</h4>
              </td>
            </tr>

            <!-- Curated Articles -->
            <tr>
              <td>
                <table class="articles">
                  <tbody>
                    <!-- Article -->
                  <% @issue.articles.each do |article| %>
                    <tr>
                      <td class="wrapped">
                        <table class="article">
                          <tbody>
                            <tr>
                              <td class="article-image">
                                <a href="<%= article.link %>" target="_blank">
                                  <img src="<%= article.image %>" alt="Image" />
                                </a>
                              </td>
                              <td>
                                <table class="article-content">
                                  <tbody>
                                    <tr>
                                      <td colspan="2">
                                        <p class="article-category"><%= article.category.name %></p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">
                                        <a class="article-title" href="<%= article.link %>" target="_blank">
                                          <h3><%= article.title %></h3>
                                        </a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <p class="saveLinks">
                                          Save for later: <br>
                                          <a href="#" id="thisweeksfavorite_img1_p" class="saveToImg link-pocket">Pocket</a> |
                                          <a href="#" id="thisweeksfavorite_img1_i" class="saveToImg link-instapaper">Instapaper</a> |
                                          <a href="#" id="thisweeksfavorite_img1_r" class="saveToImg link-readability">Readability</a>
                                        </p>
                                      </td>
                                      <td class="article-time">
                                        <p><%= article.reading_time %> min read</p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <% end %>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>
<script>
  function openTab(url) { window.open(url, '_blank'); window.focus(); }
  $(function () {
      $(".saveToImg").click(function (e) {
          var event = e || window.event;
          event.stopPropagation();

          var imgElem = $(this);
          var idParts = imgElem.attr("id").split("_");
          var linkId = idParts[0] + "_link" + idParts[1].replace("img", "");
          var linkElem = $("a#" + linkId);

          if (!linkElem) {
              return;
          }

          var fullUrl;
          if (idParts[2] === "i") { // instapaper
              fullUrl = "http://www.instapaper.com/hello2?url=" + encodeURI(linkElem.attr("data-url")) + "&title=" + encodeURI(linkElem.text());
          } else if (idParts[2] === "p") { //pocket
              fullUrl = "https://getpocket.com/save?url=" + encodeURI(linkElem.attr("data-url")) + "&title=" + encodeURI(linkElem.text());
          } else { // readability
              fullUrl = "http://www.readability.com/save?url=" + encodeURI(linkElem.attr("data-url"));
          }

          //console.log(fullUrl);
          openTab(fullUrl);

          return false;
      });
  });
    </script>
