<div class="page-header">
  <h1>Awaiting Moderation Articles</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Link</th>
      <th>Status</th>
      <th>Category</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.id, admin_article_path(article) %></td>
        <td><%= link_to article.link, article.link, target: :blank %></td>
        <td><%= article.status %></td>
        <td><%= article.category.name %></td>
        <td><%=l article.created_at %></td>
        <td>
          <%= link_to glyph(:ok), admin_approve_article_path(article),
              remote: true, method: :post, class: 'btn btn-default btn-xs' %>
          <%= link_to glyph(:remove), admin_reject_article_path(article),
              remote: true, method: :post, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_admin_article_path, class: 'btn btn-primary' %>
