<div class="page-header">
  <h1>Article</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Link</strong></dt>
  <dd><%= @article.link %></dd>
  <dt><strong>Status</strong></dt>
  <dd><%= @article.status %></dd>
  <dt><strong>Category_id</strong></dt>
  <dd><%= @article.category_id %></dd>
  <dt><strong>Title</strong></dt>
  <dd><%= @article.title %></dd>
  <dt><strong>Description</strong></dt>
  <dd><%= @article.description %></dd>
  <dt><strong>Reading_time</strong></dt>
  <dd><%= @article.reading_time %> minutes</dd>
  <dt><strong>Image</strong></dt>
  <dd><%= image_tag @article.image %></dd>
</dl>

<%= link_to 'Back', articles_path, class: 'btn btn-default'  %>
<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %>
<%= link_to 'Delete', article_path(@article), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
